<div class="panel panel-info">
  <div class="panel-heading">
    Profile report of a VOTable
  </div>
  <div class="panel-body">
    Select a .vot file to perform a pandas-profiling report on. <br>
    The AVI expects these files to be stored in /data/input/.
  </div>
</div>

<form id="input_vot_form" method="POST"> {% csrf_token %}
    <div class="form-group">
        
        <label for="input_vot">VOTable</label>
        <select id="input_vot" name="input_vot" required=true class="form-control">
            <option value="">---------</option>
            {% for product in listdir %}
            <option value="{{product}}">{{product}}</option>
            {% endfor %}
        </select>
        
        <label for="outfile">Output file</label>
        <input class="form-control" id="outfile" name="outfile" placeholder="Enter your output file here" required=true
        value="SampleFile_{{millis}}.out">

    </div>
    <button type="submit" class="btn btn-default">Process VOTable</button>
</form>

{% load staticfiles %}
<script src="{% static 'avi/js/panel_enter_query.js' %}"></script>
